#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


  .App{
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    /* background-color: #646cff; */

  }
  
  button {
    border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #00000093;
  cursor: pointer;
  transition: border-color 0.25s;
  color: rgb(209, 208, 225);
  font-weight: 600;
  
}
button:hover {
  border-color: whitesmoke;
}

#bg{
  /* border: .3rem rgba(0, 0, 0, 0.582) solid; */
  border-radius: 2rem;
  height: 100%;
  width: 100%;
  background-color: #324b4b7e;
  /* background-image: url(../src/assets/images/sun.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}
.temperature {
  margin: 0 auto;
  color: black;
  
  
}
.main{
  /* color: black; */
  padding-top: 2rem;
  font-size: 3rem;
  width: 100%;
  height: 10rem;
  display: flex;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  /* background-color: aquamarine; */
  
}

.imgContainer{
  background-color: rgba(31, 75, 75, 0.486);
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
}
.description{
  margin-top: 1rem;
  color: white;
  background-color: #95b1b07f ;
  border-radius: 2rem;
  display: block;
  color: black;
  font-size: 18px;
}
#location{
  color: rgba(255, 0, 0, 0.676);
}
.otherInfo{
  /* background-color: #646cff; */
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
    column-gap: 6rem;
    justify-content: center;
    background-color: #95b1b07f;
    border-radius: 1rem;
    margin-bottom: 2rem;
    color: black;
}
small{
  margin-top: 2rem;
  font-size: 20px;
}
#max{
  color: orangered;
}
#min{
  color: #646cff;
}
#hum{
  color: aqua;
}
.country{
  background-color: #95b1b07f;
  border-radius: 1rem;
    height: 2.5rem;
    color: black;
    padding-top: 10px;
}
/* change backgrounds */
.Clouds{
  background-image: url(../src/assets/images/cloudy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.CloudsBody{
  background: linear-gradient(45deg, black, #03a9f46e)
}


.Rain{
  background-image: url(../src/assets/images/rainy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.RainBody{
  background: linear-gradient(45deg, rgb(26, 26, 26), rgb(157, 230, 108))
}


.Snow{
  background-image: url(../src/assets/images/snow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.SnowBody{
  background: linear-gradient(45deg, rgb(243, 245, 245), rgb(157, 230, 108))
}


.Clear{
  background-image: url(../src/assets/images/sunny.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.ClearBody{
  background: linear-gradient(45deg, rgb(50, 51, 51), rgb(157, 230, 108))
}


.Thunderstorm{
  background-image: url(../src/assets/images/thunderstorm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.ThunderstormBody{
  background: linear-gradient(45deg, rgb(10, 18, 77), rgb(242, 244, 241))
}